<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<h3> Thank you for visiting the page </h3>
<p>
    This is demo flask application for the python development course
    <br> Getting started with Flask web framework
    <br> <a href="https://flask.palletsprojects.com/en/2.2.x/"> Visit for more information </a>
    <br>{{message}} <!--Having python code embedded in html jinja template-->
    <br> <img src="/static/flask_logo.png">

</p>
</body>
</html>